@font-face {
    font-family: 'Brandon';
    src: font-url('../font/brandon_grotesque/Brandon webfont.ttf') format('woff');
}

@font-face {
    font-family: 'Sonder';
    src: font-url('../font/sondersans-blackrough-webfont.woff') format('woff');
}

/* @include font-face("Brandon Grotesque Web", font-files("../")); */

/*@font-face {
    font-family: 'montserrat';
    src: font-url('montserrat/montserrat-light-webfont.eot');
    src: font-url('montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('montserrat/montserrat-light-webfont.woff') format('woff'),
         font-url('montserrat/montserrat-light-webfont.ttf') format('truetype'),
         font-url('montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: 200;
    font-style: normal;

}*/

/*
@font-face {
    font-family : "Brandon Grotesque";

    
    src : url('../font/brandon_grotesque/Brandon_Grotesque_Bold_Italic.eot');


    src : url('../font/brandon_med-webfont.ttf') format('truetype');
}
 @font-face {
font-family: 'Brandon Grotesque';
src: font-url('brandon_grotesque/Brandon Grotesque Black Italic.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Brandon Grotesque';
src: font-url('brandon_grotesque/Brandon Grotesque Black Italic.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Brandon Grotesque';
src: font-url('brandon_grotesque/Brandon Grotesque Black Italic.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Brandon Grotesque';
src: font-url('brandon_grotesque/Brandon Grotesque Black Italic.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Brandon Grotesque';
src: font-url('brandon_grotesque/Brandon Grotesque Black Italic.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Brandon Grotesque';
src: font-url('brandon_grotesque/Brandon Grotesque Black Italic.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Brandon Grotesque';
src: url('../font/brandon_grotesque/brandon_med-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
} */
