$color-blue: rgb(0,37,49);
$color-gold: rgb(143,110,45);
$color-white: rgb(255,255,255);
$color-black: rgb(0,0,0);
$color-transparent: transparent;

$mrg-top-before-header: 0rem;

//----- Hamburger component -----

// Config
$hamburger__height: 30px;
$hamburger__width: 40px;
$hamburger__layer__height: 6px;
